<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="text-uppercase font-weight-bold text-left">
        <span class="badge badge-warning animated fadeInUp">Un poco sobre mí</span>

      </h3>
      <div class="container mt-3 animated fadeIn">
        <div class="container backPortada18">
          <div class="card backSobreMi19">
            <div class="row no-gutters">
              <div class="col-md-4 backYo21 mt-1">
                <img (click)="yoMostrar()" *ngIf="mostrarYo" [src]="imagenesYo.img1" class=" card-img cursor7 padin20 animated fadeIn slow">
                <img (click)="yoMostrar()" *ngIf="!mostrarYo" [src]="imagenesYo.img3" class="card-img cursor7 padin20 animated fadeIn slow">
              </div>

              <div class="col-md-4 text-center">
                <div class="card-body">
                  <h5 class="card-title backTitulo22 mt-1 animated fadeIn slow">Federica Daniela Jiménez
                  </h5>
                  <p class="card-text animated fadeIn slow">
                    Desarrolladora Web
                  </p>
                  <div (click)="tecnologias()" class="container backTec23 cursor7 animated fadeIn slow">
                    <p class="colorName3">
                      <span class="badge badge-warning text-uppercase">tecnologías destacadas</span>
                    </p>
                    <div class="row">
                      <div class="col">
                        <img src="../../../assets/img/angular.png" class="tamanoTec24">
                        <h6 class="mt-0 mb-1 animated fadeIn slower"><small class="colorTec25 text-uppercase">
                            <strong>Angular</strong>
                          </small></h6>
                      </div>
                      <div class="col">
                        <img src="../../../assets/img/node.png" class="tamanoTec24">
                        <h6 class="mt-0 mb-1 animated fadeIn slower"><small class="colorTec25 text-uppercase">
                            <strong>NodeJs</strong>
                          </small></h6>
                      </div>
                      <div class="col">
                        <img src="../../../assets/img/boot.png" class="tamanoTec24">
                        <h6 class="mt-0 mb-1 animated fadeIn slower"><small class="colorTec25 text-uppercase">
                            <strong>Bootstrap</strong>
                          </small></h6>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-outline-warning btn-sm mt-4">
                    <span (click)="sobreMi()" class="badge badge-warning">Leer más</span>
                  </button>
                </div>
              </div>

              <div class="col-md-4 backYo21 mt-1">
                <img (click)="yoMostrar()" *ngIf="mostrarYo" [src]="imagenesYo.img2" class="card-img cursor7 padin20 animated fadeIn slow">
                <img (click)="yoMostrar()" *ngIf="!mostrarYo" [src]="imagenesYo.img4" class="card-img cursor7 padin20 animated fadeIn slow">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <h3 class="colorName3 text-uppercase font-weight-bold mt-5 text-left">
    <span class="badge badge-warning animated fadeInUp">Últimas publicaciones</span>
  </h3>
  <div class="container text-center mt-3 cursor7 animated fadeIn slower">
    <ul class="list-unstyled backUltimas28 pt-4 pl-4 pr-4 mt-1 text-justify">
      <li *ngFor="let noticia of noticias" (click)="mostrarNoticia(noticia)" class="backNoti32 mb-4"
        data-trigger="hover" data-toggle="tooltip" data-placement="top" title="ABRIR">
        <div class="media-body">
          <h6 class="mb-1">
            <img [src]="noticia.imgYo | imagenYo" class="tamanoYo29 rounded-circle mr-4 backImgNoti30">
            <span class="font-weight-normal backTituloNoti33">{{noticia.titulo}}</span>
          </h6>
          <span class="colorNoti31">
            {{noticia.texto1.substr(0, 375)}}...
          </span>
        </div>
      </li>
    </ul>
  </div>


  <app-modals></app-modals>
