<div class="container fixed-top colorBody1 animated fadeInDown">
  <nav class="navbar navbar-expand-lg navbar-light colorNavbar2 mt-1">
    <a *ngIf="!modalService.online && modalService.ojo2" class="navbar-brand ml-3">
      <img *ngIf="ojo" (click)="onClick1()" src="../../../assets/img/ojo.png" width="40" height="40">
      <img *ngIf="!ojo" (click)="onClick2()" src="../../../assets/img/ojo.png" width="40" height="40">
    </a>
    <a *ngIf="modalService.online || !modalService.ojo2" class="navbar-brand ml-3">
      <img src="../../../assets/img/ojo.png" width="40" height="40">
    </a>
    <a class="navbar-brand colorName4 ml-3">
      <strong class="text-uppercase federica6">
        Federica DJ
      </strong>
    </a>
    <button class="navbar-toggler colorBody1 mr-3" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container text-justify ml-5 mr-5">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mr-1 ml-1" routerLinkActive="active">
            <a (click)="cerrarNavbar()" class="nav-link colorName3" [routerLink]="['/inicio']">Portada</a>
          </li>
          <li class="nav-item mr-1 ml-1" routerLinkActive="active">
            <a (click)="cerrarNavbar()" class="nav-link colorName3" [routerLink]="['/noticias']">Noticias</a>
          </li>
          <li *ngIf="usuarioService.autentificado" class="nav-item mr-1 ml-1" routerLinkActive="active">
            <a (click)="cerrarNavbar()" class="nav-link colorName3" [routerLink]="['/mensajes']">Mensajes
              <span class="ml-2">({{mensajes.suma}})</span>
            </a>
          </li>
          <li *ngIf="usuarioService.autentificado" class="nav-item mr-1 ml-1" routerLinkActive="active">
            <a (click)="cerrarNavbar()" class="nav-link colorName3" [routerLink]="['/ajustes']">Ajustes
              <i class="fas fa-user-cog ml-2"></i>
            </a>
          </li>
        </ul>

        <div class="text-center mr-5 ml-5">
          <i *ngIf="login1" (click)="entrar()" data-toggle="tooltip" data-placement="left" title="Admin login"
            class="fas fa-sign-in-alt fa-lg colorNegro16"></i>
          <div (keyup.enter)="inputLogin()" *ngIf="input1" class="input-group-sm ">
            <input type="password" id="focusClave" [(ngModel)]="clave" name="clave" placeholder="Press Enter"
              class="form-control backInput15" aria-describedby="inputGroup-sizzing-sm">
          </div>
          <i (click)="logOut()" *ngIf="modalService.online"
            class="fas fa-sign-out-alt mr-4 fa-lg colorName3 cursor7"></i>
          <i *ngIf="modalService.online" class="fas fa-wifi fa-lg colorName3 animated pulse infinite"></i>
        </div>
        <div class="row">
          <div class="col text-center">
            <p class="m-2">
              <button (click)="alerta()" class="btn btn-outline-warning my-2" type="button">
                <span class="badge badge-warning text-uppercase">contacto</span>
              </button>
            </p>
          </div>
        </div>

      </div>
    </div>
  </nav>
</div>
<app-modals></app-modals>
