<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- Modal Cookies -->
<div class="modal fade animated zoomIn slower" id="cookieModal" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="container backCookies49">
        <div class="modal-body text-center colorTexto40">
          <p class="font-weight-light text-center">
            Utilizamos cookies propias y de terceros para mejorar nuestros servicios. Si continúa navegando,
            consideramos que acepta su uso.
          </p>
          <hr>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-outline-warning tamanoSalir26 btn-sm mr-3" data-dismiss="modal">
                <span class="text-uppercase">aceptar</span>
              </button>

              <button (click)="salir()" type="button" class="btn btn-outline-warning tamanoSalir26 btn-sm ml-3"
                data-dismiss="modal">
                <span class="text-uppercase">salir</span>
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
